# Python
venv/
__pycache__/
*.pyc

# Data (ajusta según lo que quieran compartir)
data/raw/
data/processed/

# Great Expectations (no subir resultados locales)
great_expectations/uncommitted/

# Mac
.DS_Store