# =========================
# Python
# =========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Mac / Windows
# =========================
.DS_Store
Thumbs.db

# =========================
# Data 
# Ignorar todo raw
data/raw/*

# Permitir solo este archivo
!data/raw/temperature_observations_colombia_transformed.csv

# =========================
# Great Expectations
# =========================
great_expectations/uncommitted/

# =========================
# Logs
# =========================
*.log

# =========================
# Jupyter 
# =========================
.ipynb_checkpoints/

# =========================
# Secrets 
# =========================
.env